{
  "openapi": "3.1.0",
  "info": {
    "title": "Identity Research API",
    "description": "API for researching company identity asynchronously via job-based endpoints",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/research-identity": {
      "post": {
        "summary": "Start job",
        "description": "Starts an identity research job for a company",
        "x-mint": {
          "content": "## Completed result\n\nThis endpoint returns `202` with a `job_id` immediately. Poll `GET /jobs/{job_id}` until `status` is `completed`, then read the result:\n\n```json\n{\n  \"kernel_id\": \"ker_abc123\",\n  \"legal_name\": \"Acme Corporation Inc.\"\n}\n```\n\nSee the [Completed result](/api-reference/schemas/research-identity-result) page for the full schema."
        },
        "requestBody": {
          "description": "Company to research",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResearchIdentityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Job created",
            "headers": {
              "Location": {
                "description": "URI of the created job resource",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Suggested interval in seconds before polling the job status",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}": {
      "get": {
        "summary": "Poll job status",
        "description": "Returns the status of a job. The response shape depends on the job `type`. When `status` is `completed`, the typed `result` is included.",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "ID of the job to check",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                },
                "examples": {
                  "pending": {
                    "summary": "Job pending",
                    "value": {
                      "job_id": "job_abc123",
                      "type": "research_identity",
                      "status": "pending"
                    }
                  },
                  "completed": {
                    "summary": "Job completed",
                    "value": {
                      "job_id": "job_abc123",
                      "type": "research_identity",
                      "status": "completed",
                      "result": {
                        "kernel_id": "ker_abc123",
                        "legal_name": "Acme Corporation Inc."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResearchIdentityRequest": {
        "required": [
          "name",
          "website"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "Company name",
            "type": "string"
          },
          "website": {
            "description": "Company website",
            "type": "string"
          }
        }
      },
      "JobCreatedResponse": {
        "required": [
          "job_id"
        ],
        "type": "object",
        "properties": {
          "job_id": {
            "description": "Unique identifier for the created job",
            "type": "string"
          }
        }
      },
      "ResearchIdentityResult": {
        "required": [
          "kernel_id",
          "legal_name"
        ],
        "type": "object",
        "properties": {
          "kernel_id": {
            "description": "Kernel identifier for the company",
            "type": "string"
          },
          "legal_name": {
            "description": "Legal name of the company",
            "type": "string"
          }
        }
      },
      "ResearchIdentityJobStatus": {
        "title": "Research identity",
        "required": [
          "job_id",
          "type",
          "status"
        ],
        "type": "object",
        "properties": {
          "job_id": {
            "description": "Unique identifier for the job",
            "type": "string"
          },
          "type": {
            "description": "Job type",
            "type": "string",
            "enum": [
              "research_identity"
            ]
          },
          "status": {
            "description": "Current status of the job",
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "result": {
            "description": "Result payload, present when status is completed. Shape depends on job type.",
            "anyOf": [
              {
                "title": "Research identity",
                "$ref": "#/components/schemas/ResearchIdentityResult"
              },
              {
                "title": "Other job types",
                "type": "object",
                "description": "Shape varies by job type. See the operation's Completed result page."
              }
            ]
          }
        }
      },
      "JobStatusResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResearchIdentityJobStatus"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "research_identity": "#/components/schemas/ResearchIdentityJobStatus"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
