{
  "openapi": "3.1.0",
  "info": {
    "title": "Kernel API",
    "description": "API for resolving company identity and retrieving entity data asynchronously",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.kernel.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/entity-resolution": {
      "post": {
        "summary": "Resolve entity",
        "description": "Starts an entity resolution job for a company. Returns immediately with a job ID — poll `GET /v1/entity-resolution/{job_id}` until the status is `completed`.",
        "x-mint": {
          "content": "## Completed result\n\nThis endpoint returns `202` with a `job_id` immediately. Poll `GET /v1/entity-resolution/{job_id}` until `status` is `completed`, then read the result:\n\n```json\n{\n  \"job_id\": \"job_abc123\",\n  \"status\": \"completed\",\n  \"result\": {\n    \"kernel_id\": \"ker_abc123\",\n    \"match_status\": \"matched\",\n    \"legal_name\": \"Acme Corporation Inc.\",\n    \"trading_name\": \"Acme\"\n  }\n}\n```\n\nSee the [Completed result](/api-reference/schemas/entity-resolution-result) page for the full schema."
        },
        "requestBody": {
          "description": "Company to resolve",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityResolutionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Job created",
            "headers": {
              "Location": {
                "description": "URI of the created job resource",
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "description": "Suggested interval in seconds before polling the job status",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/entity-resolution/{job_id}": {
      "get": {
        "summary": "Get entity resolution result",
        "description": "Returns the status and result of an entity resolution job. When `status` is `completed`, the `result` object contains the resolved entity data.",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "ID of the entity resolution job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResolutionJobStatus"
                },
                "examples": {
                  "pending": {
                    "summary": "Job pending",
                    "value": {
                      "job_id": "job_abc123",
                      "status": "pending"
                    }
                  },
                  "processing": {
                    "summary": "Job processing",
                    "value": {
                      "job_id": "job_abc123",
                      "status": "processing"
                    }
                  },
                  "completed_matched": {
                    "summary": "Completed — matched",
                    "value": {
                      "job_id": "job_abc123",
                      "status": "completed",
                      "result": {
                        "kernel_id": "ker_abc123",
                        "match_status": "matched",
                        "legal_name": "Acme Corporation Inc.",
                        "trading_name": "Acme"
                      }
                    }
                  },
                  "completed_no_match": {
                    "summary": "Completed — no match",
                    "value": {
                      "job_id": "job_abc123",
                      "status": "completed",
                      "result": {
                        "kernel_id": null,
                        "match_status": "no_match",
                        "legal_name": null,
                        "trading_name": null
                      }
                    }
                  },
                  "failed": {
                    "summary": "Job failed",
                    "value": {
                      "job_id": "job_abc123",
                      "status": "failed",
                      "error": {
                        "error": 500,
                        "message": "Internal processing error"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EntityResolutionRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "description": "Company name",
            "type": "string"
          },
          "website": {
            "description": "Company website URL",
            "type": "string"
          },
          "legal_name": {
            "description": "Legal or registered name of the company",
            "type": "string"
          },
          "linkedin_url": {
            "description": "Company LinkedIn profile URL",
            "type": "string"
          },
          "email": {
            "description": "Company or account email address",
            "type": "string",
            "format": "email"
          },
          "address": {
            "description": "Street address",
            "type": "string"
          },
          "city": {
            "description": "City",
            "type": "string"
          },
          "state": {
            "description": "State or region",
            "type": "string"
          },
          "country": {
            "description": "Country",
            "type": "string"
          }
        }
      },
      "JobCreatedResponse": {
        "required": [
          "job_id"
        ],
        "type": "object",
        "properties": {
          "job_id": {
            "description": "Unique identifier for the created job",
            "type": "string"
          }
        }
      },
      "EntityResolutionResult": {
        "required": [
          "kernel_id",
          "match_status",
          "legal_name",
          "trading_name"
        ],
        "type": "object",
        "properties": {
          "kernel_id": {
            "description": "Kernel identifier for the company. Null when no match is found.",
            "type": [
              "string",
              "null"
            ]
          },
          "match_status": {
            "description": "Indicates the outcome of the resolution",
            "type": "string",
            "enum": [
              "matched",
              "no_match",
              "ambiguous"
            ]
          },
          "legal_name": {
            "description": "Legal name of the resolved entity. Null when no match is found.",
            "type": [
              "string",
              "null"
            ]
          },
          "trading_name": {
            "description": "Trading or brand name of the resolved entity. Null when no match is found.",
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "EntityResolutionJobStatus": {
        "title": "Entity resolution",
        "required": [
          "job_id",
          "status"
        ],
        "type": "object",
        "properties": {
          "job_id": {
            "description": "Unique identifier for the job",
            "type": "string"
          },
          "status": {
            "description": "Current status of the job",
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "result": {
            "description": "Result payload, present when status is completed.",
            "$ref": "#/components/schemas/EntityResolutionResult"
          },
          "error": {
            "description": "Error details, present when status is failed.",
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Include your API key as a Bearer token in the Authorization header."
      }
    }
  }
}
